<!-- <div class="container">
  <h1 class="display-4 text-center mb-4" [@fadeInOut]>Welcome to the Quiz Application</h1>
  <div class="d-flex justify-content-center" [@fadeInOut]>
    <button class="btn btn-primary mr-3" (click)="goToAdmin()" [@buttonAnimation]>Admin</button>
    <button class="btn btn-primary" (click)="goToPlayer()" [@buttonAnimation]>Player</button>
  </div>
</div> -->


<br><br>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-2">
   <div class="card" style="width: 18rem; cursor: pointer;" routerLink="/home">
     <img class="card-img-top img-thumbnail" src="https://media.discordapp.net/attachments/747757123055910982/747774704437166080/download.png" alt="Card image cap">
   </div>
  </div>
  <div class="col-lg-4" style="position: relative;">
   <h1 class="custon" style="position: absolute; bottom: 80px;">Only one answer <br> is possible: </h1>
 </div>
 <div class="col-lg-2" id="loginBtn">
   <button class="btn btn-primary btn-lg" style="background: #64379f !important;
   color: #fff; border: 0;">Create a player account</button>
   <button class="btn btn-primary btn-lg" style="   background: #64379f !important;
   color: #fff; border: 0; margin-top: 5px;" routerLink="/home">Log in</button>
 </div>
<br>
</div>

<br><br><br><br>
<div class="row" id="add">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
     <div class="card">
      <h2>Player</h2>
      <br>
      <form>
        <div class="form-group row">
          <label for="name" class="col-sm-3 col-form-label">Player Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="userUsername" id="name" [(ngModel)]="userUsername">
          </div>
        </div>
        <div class="btnContent">
          <button type="submit" class="btn btn-primary" (click)="userLogin(userUsername)">Submit</button>
        </div>
      </form>
    </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <h2>Admin</h2>
        <br>
        <form>
          <div class="form-group row">
            <label for="adminUsername" class="col-sm-3 col-form-label">Admin Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="adminUsername"
                     name="adminUsername" [(ngModel)]="adminUsername">
            </div>
          </div>
          <div class="btnContent">
            <button type="submit" class="btn btn-primary" (click)="adminLogin(adminUsername)">Submit</button>
          </div>
        </form>
     </div>
   </div>
  </div>
